﻿.form-card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 0px;
    padding: 0 10px;
    min-height: 94px;
    margin-bottom: 40px;
    margin-top: 15px;
    padding-left: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05), 0 3px 6px rgba(0, 0, 0, .1);
    margin-left: 0.1em;
    padding: 0 1em 1em;
}

.form-card-xl {
    min-height: 26.5rem;
}

.form-body-in,
.form-body-up{
    padding: 50px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

/*****************************************/
/***Nav Tabs***/
li.login-form-li-sign-in,
li.login-form-li-sign-up {
    width: 50%;
    border-radius: 0px;
    font-size: 36px;
    text-align: center;
}

li.active.login-form-li-sign-in a,
li.active.login-form-li-sign-up a {
    color: #3d5591;
}

li.login-form-li-sign-in a,
li.login-form-li-sign-up a {
    color: #3d559163;
}



    li.login-form-li-sign-in a:hover,
    li.login-form-li-sign-up a:hover {
        color: #ff6600;
        border-bottom: none;
    }


/*****************************************/
/***Label***/
label {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-right: 1.5rem;
    margin-top: 0.1875rem;
    padding: 0.5rem;
    width: 190px;
    display: block;
    padding-left: 0;
    vertical-align: middle;
}

/*****************************************/
/***Padding***/
.no-padding {
    padding: 0px
}

/*****************************************/
/***Margin***/
.margin-top-md-cent {
    margin-top: 25%;
}


.no-radius {
    border-radius: 0px;
}


.login-form-submit-sign-in,
.login-form-submit-sign-up {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 12%
}

.btn.btn-large.btn-primary.btn-block {
    background-color: #3d5591db;
    color: white
}


    .btn.btn-large.btn-primary.btn-block:hover {
        color: #3d5591;
        color: white
    }


div#error-handler-sign-in,
div#error-handler-sign-up {
    padding-top: 5%;
    color: red;
    padding-left: 12.5%;
    font-size: medium;
    font-weight: 600;
}

.form-body-in.sign-in,
.form-body-up.sign-up {
    padding: 50px;
    padding-top: 10px;
}
