﻿<!--Login Form-->
<div class="login-form-page">

    <!--spacing-->
    <div class="col-sm-4"></div>


    <div class="col-sm-4">

        <!--Form Card-->
        <div class="form-card form-card-xl margin-top-md-cent no-padding">

            <!--Nav Tabs-->
            <ul class="nav nav-tabs centered login-form-nav">

                <!--Sign in-->
                <li class="active login-form-li-sign-in">
                    <a data-toggle="tab" href="#login-form-sign-in">Sign In</a>
                </li>

                <!--Sign Up-->
                <li class="login-form-li-sign-up">
                    <a data-toggle="tab" href="#login-form-sign-up">Sign Up</a>
                </li>
            </ul>


            <!--Nav Content-->
            <div class="tab-content login-form-tab-content">

                <!--Sign in-->
                <div id="login-form-sign-in" class="tab-pane fade in active">

                    <!--Error Handler-->
                    <div class="hide" id="error-handler-sign-in"></div>

                    <form class="login-form" id="login-form-sign-in" action="" #signInForm="ngForm">

                        <div class="form-body-in">

                            <!--Email-->
                            <label for="login-form-user-sign-in-email">Email</label>
                            <input autofocus="autofocus" type="email" [(ngModel)]="signInModel.email"  [value]="signInModel.email" name="login-form-user-email" id="login-form-user-sign-in-email"  required/>

                            <!--Password-->
                            <label for="login-form-user-password">Password</label>
                            <input autocomplete="off" type="password" [(ngModel)]="signInModel.password"   [value]="signInModel.password" name="login-form-user-password" id="login-form-user-password" required />

                        </div>

                        <!--Submission-->
                        <div class="login-form-submit-sign-in">
                            <button name="button" class="btn btn-large btn-primary btn-block" (click)="signIn()" [disabled]="!signInForm.form.valid">
                                <b>Sign In</b>
                            </button>
                        </div>
                    </form>
                </div>
                <div id="login-form-sign-up" class="tab-pane fade">

                    <!--Error Handler-->
                    <div class="hide" id="error-handler-sign-up"></div>

                    <form class="login-form" id="login-form-sign-up" action="" #signUpForm="ngForm">
                        <div class="form-body-up">

                            <!--First Name-->
                            <label for="login-form-user-first-name">First Name</label>
                            <input autofocus="autofocus" type="text" [(ngModel)]="signUpModel.firstname" [value]="signUpModel.firstname" name="login-form-user-first-name" id="login-form-user-first-name" required/>

                            <!--Last Name-->
                            <label for="login-form-user-last-name">Last Name</label>
                            <input autofocus="autofocus" type="text" [(ngModel)]="signUpModel.lastname" [value]="signUpModel.lastname" name="login-form-user-last-name" id="login-form-user-last-name" required/>

                            <!--Email-->
                            <label for="login-form-user-sign-up-email">Email</label>
                            <input autofocus="autofocus" type="text" [(ngModel)]="signUpModel.email" [value]="signUpModel.email" name="login-form-user-sign-up-email" id="login-form-user-sign-up-email" required/>

                            <!--Password-->
                            <label for="login-form-user-sign-up-password">Password</label>
                            <input autofocus="autofocus" type="password" [(ngModel)]="signUpModel.password" [value]="signUpModel.password" name="login-form-user-sign-up-password" id="login-form-user-sign-up-password" required/>

                            <!--Password-->
                            <label for="login-form-user-sign-up-phone">Zip Code</label>
                            <input autofocus="autofocus" type="number" minlength="5" maxlength="5" [(ngModel)]="signUpModel.zip" [value]="signUpModel.zip" name="login-form-user-sign-up-zip" id="login-form-user-sign-up-zip" required/>
                        </div>
                        <div class="login-form-submit-sign-up">
                            <button name="button" class="btn btn-large btn-primary btn-block" (click)="signUp()" [disabled]="!signUpForm.form.valid">
                                <b>Sign Up</b>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--spacing-->
    <div class="col-sm-4"></div>

    <!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading"  />
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>-->
</div>