@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

/*****************************************/
/***Padding***/
.no-padding {
    padding: 0px
}

/*****************************************/
/***Margin***/
.margin-top-md-cent {
    margin-top: 25%;
}

/*****************************************/
/***Row***/
.row {
    margin-right: 5%;
    margin-left: 5%;
}
