
<!--Head-->
<head>
    <base href="/app-login">
</head>

<!--Layout-->
<div class='container-fluid'>
    <div class='row'>

        <!--Router-->
        <router-outlet></router-outlet>
    </div>
</div>

