﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="profile">Profile</div>
        <!--<ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>-->
    </div>
</nav>

<div *ngIf="!loading">

    <!--Section 1-->
    <div class="col-lg-12">

        <!--Image-->
        <div class="col-lg-2">
            <img class="profile-image" src="../../../../Public/Images/default_user.jpg" />
        </div>

        <!--Professional Name-->
        <div class="col-lg-10" *ngIf="userSection.viewMode">
            <h2>{{professional.personal.firstname}} {{professional.personal.lastname}}</h2>
        </div>
    </div>

    <!--Section 2-->
    <div class="col-lg-12">

        <!--User Information-->
        <div class="col-lg-12">
            <div class="form-card" style="height: 530px;">

                <div class="profile-user-info-header col-lg-12">
                    <h2>User Information</h2>
                </div>

                <!--View Mode-->
                <div class="col-lg-12" *ngIf="userSection.viewMode">

                    <div class="row">
                        <!--Pro User Name-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-name-text">
                                {{userSection.name}}
                            </div>
                            <div class="row profile-user-info-name">
                                <div>First Name :  {{professional.personal.firstname}}</div>
                                <div>Last Name : {{professional.personal.lastname || "-"}}</div>
                            </div>
                        </div>

                        <!--Pro User Email-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-email-text">
                                {{userSection.email}}
                            </div>
                            <div class="row profile-user-info-email">
                                {{professional.personal.email}}
                            </div>
                        </div>

                        <!--Pro User Phone-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-phone-text">
                                {{userSection.phone}}
                            </div>
                            <div class="row profile-user-info-phone">
                                {{professional.personal.phone || "-"}}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!--Pro User Address-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-address-text">
                                {{userSection.address}}
                            </div>
                            <div class="row profile-user-info-address">
                                <div>Address Line 1 : {{professional.address.address_1 || "-"}}</div>
                                <div>Address Line 2 : {{professional.address.address_2 || "-"}}</div>
                                <div>City : {{professional.address.city || "-"}}</div>
                                <div>State : {{professional.address.state || "-"}}</div>
                                <div>ZipCode : {{professional.address.zip || "-"}}</div>
                            </div>
                        </div>

                        <!--Pro User Country-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-country-text">
                                {{userSection.country}}
                            </div>
                            <div class="row profile-user-info-country">
                                {{professional.address.country || "-"}}
                            </div>
                        </div>

                        <!--Pro User Demographics-->
                        <div class="profile-user-info-common col-lg-4 no-padding">
                            <div class="col-lg-12 profile-user-info-common">
                                <div class="row profile-user-info-demographics-text">
                                    {{userSection.demographics}}
                                </div>
                                <div class="row profile-user-info-demographics">

                                    {{professional.coursename || "-"}}
                                </div>
                            </div>

                            <div class="col-lg-12 profile-user-info-common">
                                <div class="row profile-user-info-description-text">
                                    {{userSection.description}}
                                </div>
                                <div class="row profile-user-info-description">
                                    {{professional.prodescription || "-"}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!--Pro User Birthday-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-birthday-text">
                                {{userSection.birthday}}
                            </div>
                            <div class="row profile-user-info-birthday">
                                {{professional.dob || "-"}}
                            </div>
                        </div>

                        <!--Pro User Gender-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-gender-text">
                                {{userSection.gender}}
                            </div>
                            <div class="row profile-user-info-gender">
                                <span *ngIf="professional.gender == 'f'">Female</span>
                                <span *ngIf="professional.gender == 'm'">male</span>
                                <span *ngIf="professional.gender == null">-</span>
                            </div>
                        </div>
                    </div>

                    <!--Edit Button-->
                    <button class="btn btn-primary btn-xs pull-right" (click)="editDetails.basicInfo();">Edit</button>
                </div>

                <!--Edit Mode-->
                <div class="col-lg-12" *ngIf="!userSection.viewMode">

                    <div class="row">

                        <!--Pro User Name-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-name-text">
                                {{userSection.name}}
                            </div>
                            <div class="row profile-user-info-name">
                                <div>First Name : <input type="text" [(ngModel)]="userSection.temp.personal.firstname" [value]="userSection.temp.personal.firstname" name="profile-user-info-first-name-input" id="profile-user-info-first-name-input" /></div>
                                <div>Last Name : <input type="text" [(ngModel)]="userSection.temp.personal.lastname" [value]="userSection.temp.personal.lastname" name="profile-user-info-last-name-input" id="profile-user-info-last-name-input" />     </div>
                            </div>
                        </div>

                        <!--Pro User Email-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-email-text">
                                {{userSection.email}}
                            </div>
                            <div class="row profile-user-info-email">
                                <input type="text" [(ngModel)]="userSection.temp.personal.email" [value]="userSection.temp.personal.email" name="profile-user-info-email-input" id="profile-user-info-email-input" />
                            </div>
                        </div>

                        <!--Pro User Phone-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-phone-text">
                                {{userSection.phone}}
                            </div>
                            <div class="row profile-user-info-phone">
                                <input type="text" [(ngModel)]="userSection.temp.personal.phone" [value]="userSection.temp.personal.phone" name="profile-user-info-phone-input" id="profile-user-info-phone-input" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <!--Pro User Address-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-address-text">
                                {{userSection.address}}
                            </div>
                            <div class="row profile-user-info-address">
                                <div>Address Line 1 : <input type="text" [(ngModel)]="userSection.temp.address.address_1" [value]="userSection.temp.address.address_1" name="profile-user-info-address-line-one-input" id="profile-user-address-line-one-input" /></div>
                                <div>Address Line 2 : <input type="text" [(ngModel)]="userSection.temp.address.address_2" [value]="userSection.temp.address.address_2" name="profile-user-info-address-line-two-input" id="profile-user-address-line-two-input" /></div>
                                <div>City : <input type="text" [(ngModel)]="userSection.temp.address.city" [value]="userSection.temp.address.city" name="profile-user-info-city-input" id="profile-user-city-input" style="margin-left: 22%;" /></div>
                                <div>State : <input type="text" [(ngModel)]="userSection.temp.address.state" [value]="userSection.temp.address.state" name="profile-user-info-state-input" id="profile-user-state-input" style="margin-left: 19%;" /></div>
                                <div>ZipCode : <input type="text" [(ngModel)]="userSection.temp.address.zip" [value]="userSection.temp.address.zip" name="profile-user-info-zip-input" id="profile-user-zip-input" style="margin-left: 13%;" /></div>
                            </div>
                        </div>

                        <!--Pro User Country-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-country-text">
                                {{userSection.country}}
                            </div>
                            <div class="row profile-user-info-country">
                                <select [(ngModel)]="userSection.temp.address.country">
                                    <option *ngFor="let item of countries" value="{{item.name}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <!--Pro User Demographics-->
                        <div class="profile-user-info-common col-lg-4">

                            <div class="col-lg-12 profile-user-info-common">
                                <div class="row profile-user-info-demographics-text">
                                    {{userSection.demographics}}
                                </div>
                                <div class="row profile-user-info-demographics">
                                    <select [(ngModel)]="userSection.temp.courseid">
                                        <option *ngFor="let item of courses" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12 profile-user-info-common">

                                <div class="row profile-user-info-description-text">
                                    {{userSection.description}}
                                </div>
                                <div class="row profile-user-info-description">
                                    <input type="text" [(ngModel)]="userSection.temp.prodescription" [value]="userSection.temp.prodescription" name="profile-user-info-description-input" id="profile-user-description-input" style="height: 40px;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!--Pro User Birthday-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-birthday-text">
                                {{userSection.birthday}}
                            </div>
                            <div class="row profile-user-info-birthday">
                                <input type="date" [(ngModel)]="userSection.temp.dob" [value]="userSection.temp.dob" name="profile-user-birthday-input" id="profile-user-birthday-input" />
                            </div>
                        </div>

                        <!--Pro User Gender-->
                        <div class="profile-user-info-common col-lg-4">
                            <div class="row profile-user-info-gender-text">
                                {{userSection.gender}}
                            </div>
                            <div class="row profile-user-info-gender">
                                <select [(ngModel)]="userSection.temp.gender">
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--Cancel Button-->
                    <button class="btn btn-warning btn-xs pull-right" (click)="userSection.viewMode = !userSection.viewMode">Cancel</button>

                    <!--Save Button-->
                    <button class="btn btn-success btn-xs pull-right" (click)="saveDetails.basicInfo(professional,userSection)" style="margin-right: 2.5%;">Save</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="form-card" style="height: 250px;">
                <!--Banking Information-->
                <div class="profile-banking-info-header col-lg-12">
                    <h2>Banking Information</h2>
                </div>

                <!--View Mode-->
                <div class="col-lg-12" *ngIf="bankingSection.viewMode">

                    <div class="col-lg-6">
                        <!--Pro User Bank Acc Name-->
                        <div class="profile-bank-info-common" *ngIf="!availability.isBankInfoNotAvailable">
                            <div class="row profile-bank-info-routing-text">
                                {{bankingSection.name}}
                            </div>
                            <div class="row profile-bank-info-routing">
                                {{professional.bankinginfo.accholdername || '-'}}
                            </div>
                        </div>

                        <!--Pro User Bank Acc Type-->
                        <div class="profile-bank-info-common" *ngIf="!availability.isBankInfoNotAvailable">
                            <div class="row profile-bank-info-account-text">
                                {{bankingSection.acctype}}
                            </div>
                            <div class="row profile-bank-info-account">
                                {{professional.bankinginfo.accounttype || '-'}}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!--Pro User Bank Routing number-->
                        <div class="profile-bank-info-common" *ngIf="!availability.isBankInfoNotAvailable">
                            <div class="row profile-bank-info-routing-text">
                                {{bankingSection.routing}}
                            </div>
                            <div class="row profile-bank-info-routing">
                                {{professional.bankinginfo.routingnumber || '-'}}
                            </div>
                        </div>

                        <!--Pro User Bank Account number-->
                        <div class="profile-bank-info-common" *ngIf="!availability.isBankInfoNotAvailable">
                            <div class="row profile-bank-info-account-text">
                                {{bankingSection.account}}
                            </div>
                            <div class="row profile-bank-info-account">
                                {{professional.bankinginfo.accountnumber || '-'}}
                            </div>
                        </div>

                    </div>
                    <div *ngIf="availability.isBankInfoNotAvailable">
                        <span>{{bankingSection.nodata}}</span>
                    </div>

                    <!--Edit Button-->
                    <button class="btn btn-primary btn-xs pull-right" (click)="editDetails.bankInfo()">Edit</button>
                </div>

                <!--Edit Mode-->
                <div class="col-lg-12" *ngIf="!bankingSection.viewMode">

                    <div class="col-lg-6">

                        <!--Pro User Bank Acc Name-->
                        <div class="profile-bank-info-common">
                            <div class="row profile-bank-info-routing-text">
                                {{bankingSection.name}}
                            </div>
                            <div class="row profile-bank-info-routing">
                                <input type="text" [(ngModel)]="bankingSection.temp.accholdername" [value]="bankingSection.temp.accholdername" name="profile-bank-info-acc-name-input" id="profile-bank-info-acc-name-input" />
                            </div>
                        </div>

                        <!--Pro User Bank Acc Type-->
                        <div class="profile-bank-info-common">
                            <div class="row profile-bank-info-account-text">
                                {{bankingSection.acctype}}
                            </div>
                            <div class="row profile-bank-info-account">
                                <select [(ngModel)]="bankingSection.temp.accounttype">
                                    <option value="Checking">Checking</option>
                                    <option value="Business Checking">Business Checking</option>
                                    <option value="Savings">Savings</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <!--Pro User Bank Account number-->
                        <div class="profile-bank-info-common">
                            <div class="row profile-bank-info-account-text">
                                {{bankingSection.routing}}
                            </div>
                            <div class="row profile-bank-info-account">
                                <input type="number" [(ngModel)]="bankingSection.temp.routingnumber" [value]="bankingSection.temp.routingnumber" name="profile-bank-info-router-input" id="profile-bank-info-router-input" />
                            </div>
                        </div>

                        <!--Pro User Bank Account number-->
                        <div class="profile-bank-info-common">
                            <div class="row profile-bank-info-account-text">
                                {{bankingSection.account}}
                            </div>
                            <div class="row profile-bank-info-account">
                                <input type="number" [(ngModel)]="bankingSection.temp.accountnumber" [value]="bankingSection.temp.accountnumber" name="profile-bank-info-account-input" id="profile-bank-info-account-input" />
                            </div>
                        </div>

                    </div>

                    <!--Cancel Button-->
                    <button class="btn btn-warning btn-xs pull-right" (click)="bankingSection.viewMode = !bankingSection.viewMode">Cancel</button>

                    <!--Save Button-->
                    <button class="btn btn-success btn-xs pull-right" (click)="saveDetails.bankInfo(professional,bankingSection)" style="margin-right: 2.5%;">Save</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="form-card" style="height: 250px;">

                <!--Pricing-->
                <div class="profile-pricing-header col-lg-12">
                    <h2>Pricing</h2>
                </div>

                <!--View Mode-->
                <div class="col-lg-12" *ngIf="pricingSection.viewMode">

                    <!--Pro User Individual pricing-->
                    <div class="profile-pricing-common no-padding col-lg-12" *ngIf="!availability.isRatesNotAvailable">
                        <div class="row profile-pricing-individual-text no-padding col-lg-6">
                            {{pricingSection.individual}}
                        </div>
                        <div class="row profile-pricing-individual col-lg-6">
                            $ {{professional.rates.individual || '-'}} /hr
                        </div>
                    </div>

                    <!--Pro User Group pricing-->
                    <div class="profile-pricing-common no-padding col-lg-12" *ngIf="!availability.isRatesNotAvailable">
                        <div class="row profile-pricing-group-text no-padding col-lg-6">
                            {{pricingSection.group}}
                        </div>
                        <div class="row profile-pricing-group col-lg-6">
                            $ {{professional.rates.group || '-'}} /hr
                        </div>
                    </div>

                    <!--Pro User Package pricing-->
                    <div class="profile-pricing-common no-padding col-lg-12" *ngIf="!availability.isRatesNotAvailable">
                        <div class="row profile-pricing-package-text no-padding col-lg-6">
                            {{pricingSection.package}}
                        </div>
                        <div class="row profile-pricing-package col-lg-6">
                            $ {{professional.rates.package || '-'}} /hr
                        </div>
                    </div>

                    <div *ngIf="availability.isRatesNotAvailable">
                        {{pricingSection.nodata}}
                    </div>

                    <!--Edit Button-->
                    <button class="btn btn-primary btn-xs pull-right" (click)="editDetails.priceInfo();">Edit</button>
                </div>

                <!--Edit Mode-->
                <div class="col-lg-12" *ngIf="!pricingSection.viewMode">

                    <!--Pro User Individual pricing-->
                    <div class="profile-pricing-common no-padding col-lg-12">
                        <div class="row profile-pricing-individual-text no-padding col-lg-6">
                            {{pricingSection.individual}} (/hr)
                        </div>
                        <div class="row profile-pricing-individual col-lg-6">
                            $  <input type="number" [(ngModel)]="pricingSection.temp.individual" [value]="pricingSection.temp.individual" name="profile-pricing-individual-input" id="profile-pricing-individual-input" />
                        </div>
                    </div>

                    <!--Pro User Group pricing-->
                    <div class="profile-pricing-common no-padding col-lg-12">
                        <div class="row profile-pricing-group-text no-padding col-lg-6">
                            {{pricingSection.group}} (/hr)
                        </div>
                        <div class="row profile-pricing-group col-lg-6">
                            $  <input type="number" [(ngModel)]="pricingSection.temp.group" [value]="pricingSection.temp.group" name="profile-pricing-group-input" id="profile-pricing-group-input" />
                        </div>
                    </div>

                    <!--Pro User Package pricing-->
                    <div class="profile-pricing-common no-padding col-lg-12">
                        <div class="row profile-pricing-package-text no-padding col-lg-6">
                            {{pricingSection.package}} (/hr)
                        </div>
                        <div class="row profile-pricing-package col-lg-6">
                            $  <input type="number" [(ngModel)]="pricingSection.temp.package" [value]="pricingSection.temp.package" name="profile-pricing-package-input" id="profile-pricing-package-input" />
                        </div>
                    </div>

                    <!--Cancel Button-->
                    <button class="btn btn-warning btn-xs pull-right" (click)="pricingSection.viewMode = !pricingSection.viewMode">Cancel</button>

                    <!--Save Button-->
                    <button class="btn btn-success btn-xs pull-right" (click)="saveDetails.priceInfo(professional,pricingSection)" style="margin-right: 2.5%;">Save</button>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-card" style="height: 530px;">

                <div class="profile-teaching-style-header col-lg-12">
                    <h2>Teaching Style</h2>
                </div>

                <!--View Mode-->
                <div class="col-lg-12" *ngIf="teachingStyleSection.viewMode">

                    <div class="col-lg-4">

                        <!--Pro User Expertise-->
                        <div class="profile-teaching-style-common">
                            <div class="row profile-teaching-style-expertise-text">
                                {{teachingStyleSection.expertise.name}}
                            </div>
                            <div class="row profile-teaching-style-expertise">

                                <!--Without data-->
                                <span *ngIf="availability.isExpertiseNotAvailable"> {{teachingStyleSection.expertise.nodata}}</span>

                                <!--With data-->
                                <span *ngIf="!availability.isExpertiseNotAvailable">
                                    <span *ngFor="let item of professional.teachingstyle.expertiselevels; let i = index">
                                        {{i + 1}}. {{item.title}}
                                    </span>
                                </span>
                            </div>
                        </div>

                        <!--Pro User Age Levels-->
                        <div class="profile-teaching-style-common">
                            <div class="row profile-teaching-style-age-text">
                                {{teachingStyleSection.ageLevels.name}}
                            </div>
                            <div class="row profile-teaching-style-age">

                                <!--Without data-->
                                <span *ngIf="availability.isAgeLevelsNotAvailable"> {{teachingStyleSection.ageLevels.nodata}}</span>

                                <!--With data-->
                                <span *ngIf="!availability.isAgeLevelsNotAvailable">
                                    <span *ngFor="let item of professional.teachingstyle.agelevels; let i = index">
                                        {{i + 1}}. {{item.level}}
                                    </span>
                                </span>
                            </div>
                        </div>

                        <!--Pro User PGA Certification-->
                        <div class="profile-teaching-style-common">
                            <div class="row profile-teaching-style-pga-certified-text">
                                {{teachingStyleSection.pga.name}} : <input type="checkbox" [(ngModel)]="professional.pgacertified" disabled="disabled" />
                            </div>
                            <div class="row profile-teaching-style-notable-players">
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <!--Pro User Accolades-->
                        <div class="profile-teaching-style-common">
                            <div class="row profile-teaching-style-accolades-text">
                                {{teachingStyleSection.accolades.name}}
                            </div>
                            <div class="row profile-teaching-style-accolades">

                                <!--Without data-->
                                <span *ngIf="availability.isAccoladesNotAvailable"> {{teachingStyleSection.accolades.nodata}}</span>

                                <!--With data-->
                                <div *ngIf="!availability.isAccoladesNotAvailable">
                                    <div *ngFor="let item of professional.accolades; let i = index">
                                        <span *ngIf="item.id != ''">{{i + 1}}. {{item.title}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">

                        <!--Pro User Notable Players Coached-->
                        <div class="profile-teaching-style-common">
                            <div class="row profile-teaching-style-notable-players-text">
                                {{teachingStyleSection.players.name}}
                            </div>
                            <div class="row profile-teaching-style-notable-players">

                                <!--Without data-->
                                <span *ngIf="availability.isNotableplayerscoachedNotAvailable"> {{teachingStyleSection.players.nodata}}</span>

                                <!--With data-->
                                <div *ngIf="!availability.isNotableplayerscoachedNotAvailable">
                                    <div *ngFor="let item of professional.notableplayerscoached; let i = index">
                                        <span *ngIf="item.id != ''">{{i + 1}}. {{item.firstname}} {{item.lastname}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Edit Button-->
                    <button class="btn btn-primary btn-xs pull-right" (click)="editDetails.teachingstyle()">Edit</button>
                </div>

                <!--Edit Mode-->
                <div class="col-lg-12" *ngIf="!teachingStyleSection.viewMode">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <!--Pro User Expertise-->
                            <div class="profile-teaching-style-common">
                                <div class="row profile-teaching-style-expertise-text">
                                    {{teachingStyleSection.expertise.name}}
                                </div>
                                <div class="row profile-teaching-style-expertise">
                                    <select [(ngModel)]="teachingStyleSection.temp.expertiselevels">
                                        <option *ngFor="let item of expertise" value="{{item.id}}">{{item.title}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--Pro User Age Levels-->
                            <div class="profile-teaching-style-common">
                                <div class="row profile-teaching-style-age-text">
                                    {{teachingStyleSection.ageLevels.name}}
                                </div>
                                <div class="row profile-teaching-style-age">
                                    <select [(ngModel)]="teachingStyleSection.temp.agelevels">
                                        <option *ngFor="let item of ageLevels" value="{{item.id}}">{{item.level}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--Pro User PGA Certification-->
                            <div class="profile-teaching-style-common">
                                <div class="row profile-teaching-style-notable-players-text">
                                    {{teachingStyleSection.pga.name}} :  <input type="checkbox" [(ngModel)]="teachingStyleSection.temp.pgacertified" checked />
                                </div>
                                <div class="row profile-teaching-style-notable-players"> </div>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <!--Pro User Accolades-->
                            <div class="profile-teaching-style-common">
                                <div class="row profile-teaching-style-accolades-text">
                                    {{teachingStyleSection.accolades.name}}
                                </div>
                                <div class="row profile-teaching-style-accolades" style="padding-bottom:5%" *ngFor="let acc of teachingStyleSection.temp.accolades; let idx = index;">
                                    {{idx + 1}}. <input type="text" id="acc.title-{{idx}}" [(ngModel)]="acc.title" [value]="acc.title" name="acc.title-{{idx}}" />
                                    <div style="margin-top:5px">
                                        <button class="btn btn-xs pull-right" value="+" style="margin-right:10px;" (click)="addelement(idx,'accolades')">+</button>
                                        <button class="btn btn-xs pull-right" value="-" style="margin-right:10px;" (click)="removeelement(idx,'accolades')" *ngIf="teachingStyleSection.temp.accolades.length > 1">-</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <!--Pro User Notable Players-->
                            <div class="profile-teaching-style-common">
                                <div class="row profile-teaching-style-notable-players-text">
                                    {{teachingStyleSection.players.name}}
                                </div>
                                <div class="row profile-teaching-style-notable-players" style="padding-bottom:5%" *ngFor="let np of teachingStyleSection.temp.notableplayerscoached; let idx = index;">
                                    <div class="col-lg-12">
                                        <div class="col-lg-12">First Name : <input type="text" id="np.firstname-{{idx}}" [(ngModel)]="np.firstname" [value]="np.firstname" name="np.firstname-{{idx}}" /></div>
                                        <div class="col-lg-12">Last Name : <input type="text" id="np.lastname-{{idx}}" [(ngModel)]="np.lastname" [value]="np.lastname" name="np.lastname-{{idx}}" /></div>
                                        <div style="margin-top:5px">
                                            <button class="btn btn-xs pull-right" value="+" style="margin-right:10px;" (click)="addelement(idx,'notableplayerscoached')">+</button>
                                            <button class="btn btn-xs pull-right" value="-" style="margin-right:10px;" (click)="removeelement(idx,'notableplayerscoached')" *ngIf="teachingStyleSection.temp.notableplayerscoached.length > 1">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="buttons">

                        <!--Cancel Button-->
                        <button class="btn btn-warning btn-xs pull-right" (click)="teachingStyleSection.viewMode = !teachingStyleSection.viewMode">Cancel</button>

                        <!--Save Button-->
                        <button class="btn btn-success btn-xs pull-right" (click)="saveDetails.teachingstyle(professional,teachingStyleSection)" style="margin-right: 2.5%;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
