﻿.bgimg {
    background-image: url('../../../../Public/Background/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

hr {
    margin: auto;
    width: 40%;
}

.profile {
    padding-left: 46.5%;
    padding-top: 0.5%;
    font-size: x-large;
}

img {
    width: 100%
}

.profile-user-info-header,
.profile-teaching-style-header,
.profile-banking-info-header,
.profile-pricing-header,
.profile-videos-header {
    text-align: left;
    padding: 0;
}

.profile-user-info-name-text,
.profile-user-info-address-text,
.profile-user-info-email-text,
.profile-user-info-phone-text,
.profile-user-info-birthday-text,
.profile-user-info-gender-text,
.profile-user-info-country-text,
.profile-user-info-contact-text,
.profile-user-info-demographics-text,
.profile-user-info-description-text,
.profile-teaching-style-expertise-text,
.profile-teaching-style-age-text,
.profile-teaching-style-accolades-text,
.profile-teaching-style-notable-players-text,
.profile-teaching-style-pga-certified-text,
.profile-bank-info-routing-text,
.profile-bank-info-account-text,
.profile-pricing-group-text,
.profile-pricing-package-text,
.profile-pricing-individual-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.profile-user-info-name,
.profile-user-info-address,
.profile-user-info-country,
.profile-user-info-contact,
.profile-user-info-demographics,
.profile-teaching-style-expertise,
.profile-teaching-style-age,
.profile-teaching-style-accolades,
.profile-teaching-style-notable-players,
.profile-bank-info-routing,
.profile-bank-info-account,
.profile-pricing-group,
.profile-pricing-package,
.profile-pricing-individual {
    font-size: 16px;
}

.profile-user-info-common,
.profile-teaching-style-common,
.profile-bank-info-common,
.profile-pricing-common {
    padding-bottom: 5%;
}

input#profile-pricing-individual-input,
input#profile-pricing-group-input,
input#profile-pricing-package-input {
    width: 50%;
}

button {
    border-radius: 0px
}

/*****************************************/
/***Padding***/
.no-padding {
    padding: 0px
}

.form-card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 0px;
    padding: 0 10px;
    margin-bottom: 40px;
    margin-top: 15px;
    padding-left: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05), 0 3px 6px rgba(0, 0, 0, .1);
    margin-left: 0.1em;
    padding: 0 1em 1em;
}
